* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menù .container {
    min-height: 100px;
    background-color: rgb(42, 48, 54);
}

.container {
    background-color: lightseagreen;
}